.Item {
    display: inline-block;
    border-radius: 30%;
    font-size: 15px;
    position: relative;
    text-align: center;
    line-height: 20px;
    padding-left: 30%;
    padding-top: 20%;
    
}
